{% extends 'layout.html' %}
{% block title %}
    {{titulo}}
{% endblock%}

{% block content %}
    <h1 class="title">{{titulo}}</h1>
    <ul>
        
          <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Número</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">DNI</th>
        <th scope="col">Estado</th>
        </tr>


    </thead>
    <tbody>
    {% for autor in autores %}
        <tr>
        <th scope="row">{{autor.idautor}}</th>
        <td>{{autor.nombre}}</td>
        <td>{{autor.apellidos}}</td>
        <td>{{autor.dni}}</td>
        <td>{{autor.estado}}</td>
         <td><a href="{% url 'eliminar_autor' id=autor.idautor %}">Eliminar</td>
        </tr>
        {% endfor %}
  </tbody>
</table>
        
    </ul>
{% endblock %}


