/*Estilos Generales*/
*{
    margin: 8px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    background: linear-gradient(to right, #e7ebec);
}

/*Estilos Cabecera*/
.card-header{
    width: 100%;
    height: 100px;
    margin: 0 auto;
}

.title{
    color:#444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 4px;
    margin-top: 5px;
}
/*Estilo para el footer*/
footer{

    text-align: center;
    margin: 0 auto;
}

